<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
       <!-- <profile>
            <id>postgres-props</id>
            <properties>
                <db.username>postgres</db.username>
                <db.password>postgres</db.password>
            </properties>
        </profile>-->
        <profile>
            <id>mysql-props</id>
            <properties>
                <db.username>root</db.username>
                <db.password>password</db.password>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>mysql-props</activeProfile>
    </activeProfiles>

</settings>