<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>base-profile</id>
            <properties>
                <db.driver-class>com.mysql.cj.jdbc.Driver</db.driver-class>
                <db.url><![CDATA[jdbc:mysql://localhost:3306/quizowanie?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC]]></db.url>
                <db.user>root</db.user>
                <db.password></db.password>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>base-profile</activeProfile>
    </activeProfiles>

</settings>